        <article class="article">
          <h2><%= I18n.t :dashboard %></h2>
					
          <div class="line"></div>    

          <div class="articleBody clear">
          </div>
        </article>
