<table>
  <tr>
    <td><%= f.label I18n.t :specialty %>:</td>
    <td>
      <%= f.collection_select(:specialty_id, @specialties, :id, :name, {:prompt => 'Selecione'} ) %>
    </td>
  </tr>
  <tr id="doctor">
  </tr>
  <tr id="patient">
  </tr>
  <tr id="health_plan">
  </tr>
  <tr id="date">
  </tr>
</table>
