        <%= render :partial => 'admin/shared/subnav_agendas'%>
        
        <article class="article">
          
          <div class="line"></div> 
          
          <div class="articleBody clear">
            <h1>Consulta</h1>  
          </div>
        </article>
