$('#doctor').empty();
$('#doctor').append("<td><%= I18n.t :patient %>:</td><td><select id='consultation_doctor_id' name='consultation[:doctor_id]'><option></option>");
<% @doctors.each do |doctor| %>
$('#consultation_doctor_id').append("<option value='<%= doctor.servant.id %>'><%= doctor.servant.name %></option>");
<% end %>
$('#preview').append("</select></td>");
