<article class="login">
	<% if user_signed_in? %>
    <info>
      <h5><%= current_user.email %> <%= link_to "sair", destroy_user_session_path %></h5>
    </info>
  <% else %>
    <h3>área reservada</h3>
    <%= link_to "sign in", new_user_session_path %>
  <% end %>
</article>
