				<aside class="sidebar">
        	<h3>Menu Usuário</h3>
        	
        	<div class="line"></div>
        	
					<vertical class="menu">
        		<ul>
		      	  <li><a href="#">Contas a Pagar</a></li>
		          <li><a href="#">Contas a receber</a></li>
		          <li><a href="#">Consultas</a></li>
		          <li><a href="#">Funcionários</a></li>
		          <li><a href="#">Pacientes</a></li>
		          <li><a href="#">Usuários</a></li>
          	</ul>
        	</vertical>
        </aside>
