				<nav class="clear">
        	<ul>
        	  <li><a href="#">Princial</a></li>
            <li><a href="#">Agendas</a></li>
            <li><a href="#">Cadastros</a></li>
            <li><a href="#">Financeiro</a></li>
            <li><a href="#">Relatórios</a></li>
            <li><a href="#">Sobre</a></li>
          </ul>
        </nav>
