        <subnav class="clear">
        	<ul>
        	  <li><%= link_to I18n.t(:doctors), admin_doctors_path %></li>
            <li><a href="#">Enfermagem</a></li>
            <li><%= link_to I18n.t(:administrative), admin_administratives_path %></li>
          </ul>
        </subnav>
