				<subnav class="clear">
        	<ul>
        	  <li><a href="#">Contas a Pagar</a></li>
            <li><a href="#">Contas a Receber</a></li>
            <li><a href="#">Funcionários</a></li>
            <li><%= link_to I18n.t(:patients), :controller => :patients %></li>
            <li><%= link_to I18n.t(:users), :controller => :users %></li>
          </ul>
        </subnav>
