        <subnav class="clear">
        	<ul>
        	  <li><%= link_to I18n.t(:doctors), :controller => :doctors %></li>
            <li><a href="#">Enfermagem</a></li>
            <li><a href="#">Administrativo</a></li>
          </ul>
        </subnav>
