<!DOCTYPE html> <!-- The new doctype -->
<html>
	<head>
  	<meta charset="utf-8" />
  	<title>Medical Center</title>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />   
  	<link rel="shortcut icon" href="/images/icons/batimento.ico" type="/images/icons/x-icon"/>     
	</head>
	<body>    	
  	<section class="page">
  	
  		<div class="line"></div>
  	  
	    <header>            
        <hgroup>
        	<h1>Medical Center</h1>
        </hgroup>
                               
      </header>
            
      <section class="articles">
      
	      <div class="line"></div>               

       	<%= yield %>
      </section>

	        <footer>
          
          	<div class="line"></div>
           
           	<p>Medical Center &copy 2010.2 - Versão 3.0</p>
           
           	<a href="#" class="up">Go UP</a>
        	</footer>            
		</section>     
	</body>
</html>
